* {
  margin: 0;
}

body {
  background-color: #fafafa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  background-color: #1b1b1b !important;
  color: wheat;
  border-radius: 15px !important;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__infoData {
  display: flex;
  justify-content: space-between;
}

.app__caseType {
  display: flex;
  justify-content: space-between;
}

.app__headerIcon {
  display: flex;
  padding: 5px;
  margin: 2px;
}

@media (max-width: 990px) {
  .app__infoData,
  .app {
    flex-direction: column;
  }
}
