.map {
  height: 400px;
  background-color: #1b1b1b;
  padding: 1rem;
  border-radius: 15px;
  margin-top: 20px;

  margin-bottom: 20px;
}

.map .leaflet-container {
  height: 100%;
}

.info__popup-image img {
  width: 100px;
  border-radius: 5px;
}

.info__popup-image {
  height: 80px;
  width: 100px;
  background-size: cover;
  border-radius: 8px;
}
.info__popup {
  width: 150px;
}

.info__popup-infected,
.info__popup-recovered,
.info__popup-deaths {
  font-size: 15px;
  margin-top: 5px;
}

.info__popup-country {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
/* 
.map__graph {
  z-index: 1;
  display: flex;
  height: 400px;
  width: 400px;
  align-self: center;
  opacity: 0.5;
} */

.map__items {
  display: flex;
}
